<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow p-4  border-bottom border-white border-opacity-25 sticky-top top-0 stick-top top ">
    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="{{ path('home') }}">
            <img src="{{ asset('images/favicon.ico') }}" alt="Logo BarberGO" width="40" height="40" class="me-2">
            <span class="fs-4 fw-bold">BarberGO</span>
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="mainNav">
            <!-- Centraliza os links -->
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="{{ path('home') }}" class="nav-link px-3 {% if 'home' in app.request.attributes.get('_route') %}active border-bottom border-4 border-white{% endif %}">
                        <i class="bi bi-house me-1"></i>
                        <span class="d-lg-inline">Início</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_register') }}" class="nav-link px-3 {% if 'register' in app.request.attributes.get('_route') %}active border-bottom border-4 border-white{% endif %}">
                        <i class="bi bi-people me-1"></i>
                        <span class="d-lg-inline">Cadastro</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('about') }}" class="nav-link px-3 {% if 'about' in app.request.attributes.get('_route') %}active border-bottom border-4 border-white{% endif %}">
                        <i class="bi bi-info-circle me-1"></i>
                        <span class="d-lg-inline">Sobre</span>
                    </a>
                </li>


            </ul>

            <!-- Login / Perfil -->
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="dropdown text-end">
                    <a href="#" class="d-block text-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('images/profile.jpg') }}" alt="Perfil" width="40" height="40" class="rounded-circle border border-light">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-small">
                        <li><a class="dropdown-item" href="#">Configurações</a></li>
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sair</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-warning  ms-3 col-12 col-md-1">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
