{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

<div class="row g-4"> {# g-4 = gutter espaçado do Bootstrap #}

    <div class="col-md-6">
        {{ form_label(form.name, 'Nome', {'label_attr': {'class': 'form-label fs-6'}}) }}
        {{ form_widget(form.name, {
            'attr': {'class': 'form-control form-control-lg' ~ (form_errors(form.name) ? ' is-invalid' : '')}
        }) }}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.name)|striptags }}
        </div>
    </div>

    <div class="col-md-6">
        {{ form_label(form.email, 'E-mail', {'label_attr': {'class': 'form-label fs-6'}}) }}
        {{ form_widget(form.email, {
            'attr': {'class': 'form-control form-control-lg' ~ (form_errors(form.email) ? ' is-invalid' : '')}
        }) }}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.email)|striptags }}
        </div>
    </div>

    <div class="col-md-6">
        {{ form_label(form.plainPassword, 'Senha', {'label_attr': {'class': 'form-label fs-6'}}) }}
        {{ form_widget(form.plainPassword, {
            'attr': {'class': 'form-control form-control-lg' ~ (form_errors(form.plainPassword) ? ' is-invalid' : '')}
        }) }}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.plainPassword)|striptags }}
        </div>
    </div>

    <div class="col-md-6">
        {{ form_label(form.role, 'Função', {'label_attr': {'class': 'form-label fs-6'}}) }}
        {{ form_widget(form.role, {
            'attr': {'class': 'form-select form-select-lg' ~ (form_errors(form.role) ? ' is-invalid' : '')}
        }) }}
        <div class="invalid-feedback d-block">
            {{ form_errors(form.role)|striptags }}
        </div>
    </div>

    <div class="col-12">
        <div class="form-check fs-5">
            {{ form_widget(form.active, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(form.active, 'Usuário ativo?', {'label_attr': {'class': 'form-check-label ms-2'}}) }}
        </div>
        <div class="text-danger small">
            {{ form_errors(form.active)|striptags }}
        </div>
    </div>

</div>

<div class="d-flex justify-content-between mt-4">
    {{ include('components/button_submit.html.twig', {
        'label': button_label|default('Salvar')
    }) }}

    {{ include('components/button_default.html.twig', {
        'label': 'Voltar',
        'path': 'admin_users_index',
        'icon': 'bi bi-arrow-left-circle me-1',
        'class': 'primary'
    }) }}
</div>

{{ form_end(form) }}
