{% extends 'base.html.twig' %}

{% block title %}BarberGO | Cadastro
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center w-100 mx-auto my-5">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h1 class="text-center">Cadastro</h1>

                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {{ form_start(form) }}

                    <div class="mb-3">
                        {{ form_label(form.name, 'Nome', {'label_attr': {'class': 'form-label'}}) }}
                        {% if form_errors(form.name) is empty %}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        {% else %}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control is-invalid'}}) }}
                        {% endif %}

                        <div class="text text-danger small">
                            {{ form_errors(form.name)|striptags }}
                        </div>
                    </div>


                    <div class="mb-3">
                        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                        {% if form_errors(form.email) is empty %}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        {% else %}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control is-invalid'}}) }}
                        {% endif %}

                        <div class="text text-danger small">
                            {{ form_errors(form.email)|striptags }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.plainPassword, 'Senha', {'label_attr': {'class': 'form-label'}}) }}
                        {% if form_errors(form.plainPassword) is empty %}
                            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
                        {% else %}
                            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control is-invalid'}}) }}
                        {% endif %}

                        <div class="text text-danger small">
                            {{ form_errors(form.plainPassword)|striptags }}
                        </div>
                    </div>


                    <div class="form-check mb-3 text-start">
                        {{ form_widget(form.isBarber, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(form.isBarber, null, {'label_attr': {'class': 'form-check-label'}}) }}
                        {{ form_errors(form.isBarber) }}
                    </div>

                    <button type="submit" class="btn btn-warning fw-bold">Cadastrar</button>

                    {{ form_end(form) }}

                    <p class="mt-3 text-center">
                        Já tem uma conta?
                        <a class="text-warning" href="{{ path('app_login') }}">Entrar</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
